- if (@contacts.count >0)
	%h3 Gmail contact list
	%table{class: "table table-hover"}
		- @contacts.each_with_index do |contact,index|
			%tr	
				%td= contact.name
				%td= mail_to "#{contact.email}", "#{contact.email}"
				%td= link_to 'Delete', controller: :google, action: :delete_contact, access_token: @token, id: "#{contact.friend_id}"


- if(@titles)
	= link_to 'Add', controller: :google, action: :insert_contact, access_token: @token
	%h3 Gmail contact list
	%table{class: "table table-hover"}
		- @titles.each_with_index do |title,index|
			%tr
				%td= title
				%td= mail_to "#{@emails[index]}", "#{@emails[index]}"
				%td= link_to 'Delete', controller: :google, action: :delete_contact, access_token: @token, id: "#{@id[index]}"
				= #link_to 'Direct Delete', "https://www.google.com/m8/feeds/contacts/default/full/#{@id[index]}?access_token=#{@token}", method: :delete

