<br/>
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://www.yaf.org/uploadedImages/Blogs/UCSD%20Logo.jpg" width="80" height="80">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a href="/settings" class="btn btn-info">Get Social!</a></h4>
        <% if @User.show_fn == 1%>
          <b>First Name: </b> <%= @User.first_name %><br/>
        <% end %> 
        <% if @User.show_ln == 1 %>
          <b>Last Name: </b> <%= @User.last_name %> <br/>
        <% end %> 
        <% if @User.show_addr == 1%>
          <b>Address: </b> <%= @User.address %> <br/>
        <% end %> 
        <% if @User.show_email == 1%>
          <b>Email: </b> <%= @User.email %> <br/>
        <% end %> 
        <% if @User.show_phone == 1 %>
          <b>Phone: </b> <%= @User.phone %> <br/>
        <% end %> 
       
        <p><b>Status: </b> <%= 
         begin
            @User.status.message 
         rescue
            "Empty"
          end %>
          <%
            if @User.admin and @User.status != nil
          %>
            <a href=<%= "/user/#{@User.id}/status/#{@User.status.id}" %> class="icon-remove" onclick="return confirm('Delete entry?');"></a>
          <% end %>
    </div>
    <h3> Your Social Networks </h3>
    <% if (@fb_token) %>
    <%= link_to image_tag("fb_logo.png", :size => "48x48"),controller: :fb, action: :index %>
    <% end %>
    <% if (@google_code) %>
    <%= link_to image_tag("google_logo.png", :size => "48x48"), {controller: :google, action: :index}  %>
    <% end %>
    <% if (@twitter_contact) %>
    <%= link_to image_tag("twitter_logo.png", :size => "48x48"), {controller: :twitter, action: :twitter_login}, method: :post %>
    <% end %>

  </li>
</ul>
