= button_to 'get friendlist', {controller: :profiles, action: :get_fb_friend_list}, method: :get

= form_tag( controller: :profiles, action: :update_fb_status) do
	= label_tag(:fb_status,"update fb status")
	= text_field_tag(:fb_status_message)
	= submit_tag 'update status'

- if (@fb_friend_images)
	- @fb_friend_images.each do |image|
		= image_tag(image)

#fb= link_to "send message", action: :fb_wall, friend_id: :minhta 