= form_tag( controller: :fb, action: :post_fb_wall) do
	= label_tag(:wall_message,"post on #{@friend}'s wall")
	= hidden_field_tag :friend_id, "#{@friend}"
	= text_field_tag(:message)
	= submit_tag 'post to wall'#, friend_id: "#{@friend}"
