%h2 Outbox

%table.table.table-hover#private_messages
  %thead
    %tr
      %th To
      %th Subject
      %th Date
      %th Actions
  %tbody
  - @pm.each do |private_message|
    %tr
      %td= User.find(private_message.from_user).username
      %td= link_to "#{private_message.subject}", sent_path(private_message)
      %td= private_message.date.in_time_zone("Pacific Time (US & Canada)").strftime("%b %e, %Y %l:%m %p")
      %td= button_to "Delete", sent_path(private_message), method: :delete, confirm: "Are you sure?"

= link_to "Create Message", new_sent_path

:css 
  #private_message{align:left;}
  head{align:left;}
  table, th, td{border: 1px solid black;padding:10px;}

