%h2 Message

%table
	%tr
		%td
			%strong From
		%td#content= User.find(@private_message.user).username
	%tr
		%td
			%strong Date
		%td#content= @private_message.date.in_time_zone("Pacific Time (US & Canada)").strftime("%A, %B %e, %Y %l:%m %p")
	%tr
		%td
			%strong Subject
		%td#content= @private_message.subject

%br

%p= @private_message.message

%br

= link_to "Back to Inbox", sent_index_path

:css
	#content{padding-left:10px;}
