-# edit.html.haml using partial 
%h1 Edit User

= form_tag user_path(@user), :method => :put do
    
  -if User.find(session[:id]).admin == 1 
    = label :user, :admin, 'Admin'
    = select :user, :admin, [["User", 0],["Admin", 1]]

  = label :user, :username, 'Username'
  = text_field :user, 'username', :size => 50, :maxlength => 20, :autofocus => true

  = label :user, :password, 'Password'
  = password_field :user, 'password', :size => 50, :maxlength => 20

  = label :user, :repassword, 'Re-type password'
  = password_field :user, 'repassword', :size => 50, :maxlength => 20

  = label :user, :first_name, 'First Name'
  = text_field :user, 'first_name', :size => 50, :maxlength => 50

  = label :user, :last_name, 'Last Name'
  = text_field :user, 'last_name', :size => 50, :maxlength => 50

  = label :user, :email, 'Email'
  = email_field :user, 'email', :size => 50, :maxlength => 50

  = label :user, :address, 'Address'
  = text_field :user, 'address', :size => 100, :maxlength => 100

  = label :user, :phone, 'Phone'
  = text_field :user, 'phone', :size => 15, :maxlength => 15

  = label :user, :birthday, 'Birthday'
  = date_select :user, 'birthday',{:start_year => 1926,
:end_year => Time.now.year}

  %br
  = submit_tag 'Update User Info'
  -if User.find(session[:id]).admin == 1 
    %p= link_to 'Back to user list', users_path 
