-# edit.html.haml using partial

%h1 Edit User

= form_tag user_path(@user), :method => :put do

  = label :user, :admin, 'Admin'
  = text_field :user, 'admin'

  = label :user, :username, 'Username'
  = text_field :user, 'username'

  = label :user, :password, 'Password'
  = text_field :user, 'password'

  = label :user, :first_name, 'First Name'
  = text_field :user, 'first_name'

  = label :user, :last_name, 'Last Name'
  = text_field :user, 'last_name'

  = label :user, :email, 'Email'
  = text_field :user, 'email'

  = label :user, :address, 'Address'
  = text_field :user, 'address'

  = label :user, :phone, 'Phone'
  = text_field :user, 'phone'

  = label :user, :birthday, 'Birthday'
  = date_select :user, 'birthday'

  = submit_tag 'Update User Info'

  = link_to 'Back to user list', users_path
