%h1 Create New User
= form_tag users_path do

  = label :user, :username, 'Username'
  = text_field :user, 'username'

  = label :user, :password, 'Password'
  = password_field :user, 'password'

  = label :user, :repassword, 'Re-type password'
  = password_field :user, 'repassword'

  = label :user, :first_name, 'First Name'
  = text_field :user, 'first_name'

  = label :user, :last_name, 'Last Name'
  = text_field :user, 'last_name'

  = label :user, :email, 'Email'
  = email_field :user, 'email'

  = label :user, :address, 'Address'
  = text_field :user, 'address'

  = label :user, :phone, 'Phone'
  = text_field :user, 'phone'

  %br
  = submit_tag 'Register User'
