%h1 Create New User
= form_tag user_path do

  = label :user, :username, 'Username'
  = text_field :user, 'username'

  = label :user, :password, 'Password'
  = text_field :user, 'password'

  = label :user, :first_name, 'First_name'
  = text_field :user, 'first_name'

  = label :user, :last_name, 'Last_name'
  = text_field :user, 'last_name'

  = label :user, :email, 'Email'
  = text_field :user, 'email'

  = label :user, :address, 'Address'
  = text_field :user, 'address'

  = label :user, :phone, 'Phone'
  = text_field :user, 'phone'

  = label :user, :birthday, 'Birthday'
  = date_select :user, 'birthday'
