-# in app/views/users/show.html.haml

%h2 Details about #{@user.username}

%ul#details
  %li
    Userame:
    = @user.username
  %li
    First Name:
    = @user.first_name
  %li
    Last Name:
    = @user.last_name
  %li
    Email:
    = @user.email
  %li
    Address:
    = @user.address
  %li
    Phone:
    = @user.phone


= link_to 'Edit', edit_user_path(@user)
= button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to user list', users_path
