%h1 Contact Us
= form_tag do
  = label :mail, :email, 'Email'
  = email_field :mail, 'email', :size => 50, :maxlength => 255, :autofocus => true
  
  = label :mail, :comment, 'Comment'
  = text_area :mail, 'comment'
  
  = button_to 'Send'
