= form_tag( controller: :twitter, action: :tweet) do
	= label_tag(:tweet,"Enter a message")
	= text_field_tag(:message)
	= submit_tag 'Tweet'
- if(@home_timeline)
	%h4 Last 20 tweets
	- @home_timeline.each do |status|
		- message = status["user"]["name"] +" tweets " + status["text"] + " at " + status["created_at"]
		%p= message
