%h1 Log In
= form_tag log_in_index_path do
  %p{:style => "color:red"}= flash[:notice]
  = label :user, :username, 'Username'
  = text_field :user, 'username', :size => 50, :maxlength => 20, :autofocus => true

  = label :user, :password, 'Password'
  = password_field :user, 'password', :size => 50, :maxlength => 20

  %p= submit_tag 'Log In'

  %p= link_to "Forgot password", password_recovery_index_path

  %p= link_to "Forgot username", username_recovery_index_path
