<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ConMan - The Ultimate Contact Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/global.css" rel="stylesheet">
    <link href="/assets/bootstrap-responsive.css" rel="stylesheet">
    <%#= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>
<body>
  <p id="notice"><%= notice %></p>
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">ConMan</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact_us">Contact</a></li>
              <% if session[:id] %>
              <li><a href=<%= "/log_in/#{session[:id]}" %> data-method="delete" rel="nofollow">Log Out</a></li>
              <% else %>
              <li><a href="/log_in">Log In</a></li>
              <% end %>
            </ul>
            <form method="GET" action="/searches" class="navbar-search pull-right">
              <input name="query" type="text" class="search-query" placeholder="Search">
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <% if session[:id] != nil %>
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Preferences</li>
              <li><a href=<%= "/profiles/#{session[:id]}" %>>Profile</a></li>
              <li><a href="/status">Status</a></li>
              <li><a href="/private_messages">Message</a></li>
              <li><a href=<%= "/users/#{session[:id]}/edit"%>>User Information</a></li>
              <li><%= link_to 'Settings', controller: :settings %></li>
              <% if @fb_friend_images %>
              <li class="nav-header">Friends</li>
                <% @fb_friend_images.each do |photo| %>
                  <li><%= image_tag(photo) %></li>
                <% end %>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <% end %>
         <div class="span9">
          <%= yield %>
         </div>




      </div>
    </div>
  <div id="fb-root"></div>

</body>
</html>
